<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Rawilk Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="UPS_LOGGING" value="false"/>
        <server name="UPS_SANDBOX" value="true"/>
        <server name="UPS_NEGOTIATED_RATES" value="false"/>
    </php>
</phpunit>
